.advantage {
    padding: 80px 0;
    &__title {
        display: block;
        margin: 0 auto;
        color: $second-color;
        width: 370px;
        line-height: 35.99px;
        text-align: center;
    }
    &__wrapper {
        display: grid;
        margin-top: 45px;
        grid-template: repeat(2, 355px) / repeat(2, 570px);
        grid-auto-rows: 355px;
    }
    &__item {
        padding: 100px 0;
    }
    &__black {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 156px;
        background-color: rgba($color: #000000, $alpha: .44);
    }
    &__descr {
        width: 330px;
        color: #ffffff;
        font-size: 23px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
    }
    &_1 {
        background: url('../img/advantage/advantage_1.jpg') no-repeat center / cover;
    }
    &_2 {
        background: url('../img/advantage/advantage_2.jpg') no-repeat center / cover;
    }
    &_3 {
        background: url('../img/advantage/advantage_3.jpg') no-repeat center / cover;
    }
    &_4 {
        background: url('../img/advantage/advantage_4.jpg') no-repeat center / cover;
    }
    &_5 {
        background: url('../img/advantage/advantage_5.jpg') no-repeat center / cover;
    }
    &_6 {
        background: url('../img/advantage/advantage_6.jpg') no-repeat center / cover;
    }
}